*{
	box-sizing: border-box;
}
body{
	background-color: #f9f6f1;
	/*background-color: #b49ef5;*/
}

 /* ::::::: 1. Barra de navegacion ::::::: */

.navbar-color{
	background-color: black; 
}
/*Efectos de los links*/

/* ::::::::::::  2. Banner  :::::::::::: */

.art-tipo{
	  	background-color: #ff00ff;
	}
	.art-logo{
	  	background-color: red;
	  	height: 100%;
	}
	#logo{
	  	background-image:url(../imgs/logo.png);
	 	background-size: 100%;
	 	background-repeat: no-repeat;
	 	margin: 10px;
	 	padding: 55px;
	}
.banner{
	/* Fondo del logo y titulo*/
	padding: 20px;
	background-image:url(../imgs/fondo2.png);
}

  /* XXXXX I N I C I O  -  M E N U S XXXXXX*/

.barra{
	background-color: #fefff7;
	border: 1px solid #d8cccc;

}
.border{
	border-right: 1px solid #d8cccc;
	/*border-left: 3px solid #d8cccc;*/
	border-bottom: 5px solid #d8cccc;
	padding: 5px; 

}
.activo {    /*div activo*/
	border-left: 2px solid #8D7B7B;
	border-right: 2px solid #8D7B7B;
	background-color: solid white;
	border-bottom: 5px solid #ff7f74;
	padding: 5px; 
}
.tipoActiva{
color: #000000; 
font-family: arial; 
font-weight: bold;
}
.menu li a{
	width: 100%;
	text-decoration: none;
}
.menu-activado{
	padding: 10px;
	width: 80px;
}
.activoMenu{
   /*list-style-image:url(..imgs/eye.png);*/
   background-color: #fcfbfb;
   border-bottom: 1px solid #ccc6c6;
}
.bordMod{
	font-weight: bold;
border-bottom: 1px solid #ccc6c6;
margin: 2px;
}
.borderMenu{
border-bottom: 1px solid #ccc6c6;
margin: 3px;
}
li{
	list-style: none;
}

/* XXXXXX F I N  -  M E N U S XXXXXX*/

/* ::::::::::::  1. Panel :::::::::::: */

.colorPanel{
background-color: #000000;
}
.panel-cuenta{
	line-height: 40px;
	padding: 7px;
}
.contCalendario{
 width: 100%;
 min-width: 400px;
}
/*Decoracion form-admin*/
	.decFormTitle{
		padding: 10px;
		border-top: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-radius: 12px 12px 12px 12px;
		margin-bottom: 10px; 
	}
	.decForm{
		padding: 20px;
		border: 1px solid #ddd;
		border-radius: 12px 12px 12px 12px;
		margin: 10px; 
	}
	input{
		margin: 5px;
		width: 100%;
	}
/*FIN Decoracion form-admin*/
 /* ::::::::::   6. FOOTER   ::::::::::::: */

.contenedor-footer{
	background-image: url("../imgs/banner-redes.jpg");
	/*border: solid white 2px;
	border-radius: 26px 26px 0px 0px;
	-moz-border-radius: 26px 26px 0px 0px;
	-webkit-border-radius: 26px 26px 0px 0px;*/
/*background-color: #abade2;*/
}
	/*Aqui cierra estilos sidebar de bootstip*/
	.copyright{
		padding: 7px;
		background-size: 100%;
		/*background-image: url("../imgs/banner-redes.jpg");*/
		/*background-color: rgba(0,0,0,0.3);*/
		/*background-image: url("../imgs/banner-redes.jpg");*/
		color: white;
		/*background-color: red;*/
	}
			.cont-redes{
			background-color: rgba(0,0,0,0.5);
			background-size: 100%;
			background-repeat: no-repeat;
			padding: 30px;
			}
	/*Estilo ICONOS*/
	.icon{
		min-width: 10px;
		width: 35%;
		opacity: 0.5;
	}
	.tg{
	font-size: 2.2em;
	}
	.icon:hover{
		margin: 0;
		width: 40%;
		transition: 0.7s;
		opacity: 0.9;
	}
	.redes{
	 	background-size: 100%;
	 	background-repeat: no-repeat;
	 	/*background-image: url("../imgs/banner-redes.jpg");*/
		color: white;
		padding: 20px;
		opacity: 0.9;
	}

/* :::::::::   7. DECORACION CONTENEDORES   :::::::::::: */

 .images{
width: 100%;
  }